.chart-area > h4 {
    font-size: 1.3em;
    font-weight: bolder;
    display: inline-block;
    margin-top: 3%;
}

.chart-area > p {
    font-size: 1.2em;
    font-weight: italic;
    display: inline-block;
}

.chart-area {
    height: 24rem!important;
}

.card-body > iframe {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 420px;
}

.mapa {
    padding: 0px!important;
}

.editar {
    float: right;
}

.editar > a {
    color: #efefef;
}

.editar > a:hover {
    color: #656565;
}

.textoInf {
    display: inline-block;
}

.dis {
    border: solid 3px #b8b8b8;
    background-color: #b8b8b8;
    border-radius: 2px;
    color: #656565;
}

